<p>Guess the Number Game is a game app for players with following features:</p>
<ol>
  <li>Let the player choose a random number between 1 and 100.</li>
  <li>Challenge the player to guess the number in maximum 10 times.</li>
  <li>In each turn the player is told if the guess is right or wrong.</li>
  <li>If the guess is wrong, it shows whether the guess was too low or too high.</li>
  <li>It also displays the number previously guessed.</li>
  <li>The game will end once the player guesses correctly.</li>
  <li>The game will also end when the player runs out of turns.</li>
  <li>However, when the game ends, the player is given an option to start the game again.</li>
</ol>
